/* sitewide search button */

.sitesearch{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    white-space: nowrap;
    margin-bottom: 1em;
    max-width: 311px;
}

/* error checking */
/* *{
    border:1px solid rgb(0, 255, 60);
} */


.submit_button{
padding: .5em;
margin-left: .25em;
margin-top: 3px;
}

input.text,input.text_small{
        background-color: rgb(245, 245, 245);
}



.submit_button i:hover{
    cursor: pointer;
    }

.sitesearch a{
    width: 100%;
    margin-left: 0px;
    
}


/* -------------------- */



@media (max-width: 1050px) {
    .content{
        margin-top: 80px;
    }
  }

.contentTransBG {
    padding: 15 15 15 15;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #600;
}


/* search textbox */
.search{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    white-space: nowrap;
    margin-bottom: .3em
}

#search_text {
    margin: 0;
    border-radius: 0px;
    border: 0 solid #fff;
    height: 25px;
    margin-top: 2px;
    width: 89%;
    box-sizing: content-box!important;
    background-color: rgb(210, 210, 210);
}

@media (max-width: 1200px) {
    #search_text {
    width: 70%;
}
}

@media (max-width: 700px) {
    #search_text {
    width: 50%;
}
}


.search_for{
    padding: 1.5em 1em 1em 1em;
    display: flex;
    width: 100%;
    /* justify-content: center; */
    flex-wrap: wrap;
    overflow: hidden;

}

.search_for p{
    margin-top: 5px;
    padding-right: 1em;
}

.searchbutton i{
margin-top: 7px;
padding: .5em;
}

.searchbutton i:hover{
    cursor: pointer;
    }

  

.search_for a{
    padding: 1em 0em 0em 0em;
    color: rgb(210, 210, 210);
    width: 80%;
    margin-left:7vw;
    font-size: 11px;
    
}


/* nav bar */

.nav-bar-mobile{
    display: none;

}



@media (max-width: 1050px) {


    .nav-bar-mobile{
        display: inline;
        width: 100vw;
        
    
    }

    .tabdropdown{
        width: 100%;
    }

    .nav-bar-mobile .form-control{
        border-radius: 0px;
    }
    
  }


/* nav bar */

.nav-bar{
    gap: .25em;
    /* height: 5em; */
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
    overflow: clip;
    /* border-bottom: 4px solid black; */
}
@media (max-width: 1050px) {
    .nav-bar{
        display: none;
        overflow-x: scroll;
        scrollbar-width: 20px;
        scrollbar-color: rgb(39, 39, 39) rgb(15, 15, 15);
    }
    
  }

  
.nav-bar a{
    display: flex;
    
    justify-content: center;
    padding: 1em 1em 1em 1em ;
    background-color: rgb(50, 50, 50);
    color: rgb(210, 210, 210);
    width: inherit;
    white-space: nowrap;
}

.nav-bar a:hover{

    color: white;
    background-color: rgb(60, 60, 60);
}



.active{
    color: white!important;
    background-color: rgb(40, 40, 40);
}

.events_search{
    padding:.3em 0em;
    padding-bottom: 1em;
}


@media (max-width: 1050px) {
    .events_search .nav-bar{
   display: flex;
   flex-direction: row;
   gap: .25em;
   padding: 0em;
   overflow-x: hidden;

}
}


/* ---------------desktop and mobile ---------------- */

.desktop{
    display: block;

}

.mobile{
    display: none;

}
.title_card_mobile {
    display: none;
    
}

@media (max-width: 1050px) {
    .desktop{
    display: none;

}

.mobile{
    display: block;

}

.title_card_mobile {
    display: flex;
    width: 100%;
    justify-content: center;
}

}


/* ---------Line break---------- */
.line{
    border-bottom: 1px solid rgb(101, 101, 101);
    /* width: 100%; */
    margin: .75em;
}

.verticle-line{
    border-left: 2px solid rgb(75, 75, 75);
    display: block;
    height: 120px;
    /* margin: 0 auto; */
    width: .5px;
    margin: .75em;
}


@media (max-width: 1050px) {
    .sortby  {
        padding: 1em 0em ;
    }

}
/* -------title card-------- */

.title_card{
    background-color:rgb(15, 15, 15) ;
    padding: 2em;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title_info h2{
    font-size: 20pt;
    margin: 0;
    margin-bottom: 5px;
}

.title_info{
   padding-right: 7em;
   

}



.title_card button , .title_card_mobile button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 3em 1em 3em;
    font-weight: 700;
    background-color: rgb(50, 50, 50);
    color: rgb(210, 210, 210);
    border: none;
    height: 1em;
    white-space: nowrap;
}


.title_card button:hover{
    
    background-color: rgb(60, 60, 60);
    color: rgb(210, 210, 210);
    
}

.title_card .buttonlink:hover{
    background-color: rgb(60, 60, 60);
    color: rgb(210, 210, 210);
}


.title_buttons{
    display: flex;
    flex-direction: row;
    gap: .25em;
    
}

@media (max-width: 1050px) {
    .title_info{
   padding-right: 0em;
   padding-bottom: .5em;

}

.title_buttons{
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    
}

.title_buttons button{
    padding: 1em;
  }
}

/* ---------------clubs_form------------------- */
.clubs_form{
    display: flex;
    flex-direction: row;
}

.results

.clubs_form .title_info h2{
   font-size: 14pt;
   /* padding-top: .5em; */
}
.clubs_form .title_info{
    padding-right: 0em;

}



.clubs_form_textboxes{
    margin-top: 1rem;
    flex-grow: 2;
    background-color:rgb(15, 15, 15) ;
    padding: 2em;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1050px) {
    .clubs_form{
    flex-direction: column;
}

    .title_card{
        flex-direction: column;

    }
    .clubs_form_textboxes{
    padding: 1.5em;
    
}
  }


/* -------club_search------- */

.club_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    width: 100%;

}

.club_search button{
    display: flex;
    align-items: center;
    padding: 1em 3em 1em 3em;
    font-weight: 700;
    background-color: rgb(50, 50, 50);
    color: rgb(210, 210, 210);
    border: none;
    height: 1em;
    white-space: nowrap;

}

.club_search button:hover{

    color: white;
    background-color: rgb(60, 60, 60);
}



.clubs_form_filters .club_search input{
    width: 100%;
    
}

.clubs_form_filters a .title_info{
    padding: 0em;
    
}




/* -------------radiobuttons------------ */

.clubs_form_radiobutton{
    margin-top: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
    max-width: 35%;
    background-color:rgb(15, 15, 15) ;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.clubs_radiobutton{
    display: flex;
    flex-direction: row;
    
}


@media (max-width: 1050px) {
    .clubs_form_radiobutton{
    max-width: 100%;
    margin-top: 1svh;
    margin-right: 0rem;
    padding: 1.5em;
}

  }

.model_menu_radio {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
    padding-left: 3em;
    /* margin-bottom: .5em; */
    cursor: pointer;
    min-height:  36.5px;
    height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }

  @media (max-width: 1050px) {
    .clubs_form_radiobutton{
    max-width: 100%;
    margin-top: 1svh;
    margin-right: 0rem;
    padding: 1.5em;
}



  }



.model_menu_radio input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
}

.radiocheck{
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: rgb(52, 52, 52);
    border-color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 50%;
}

.model_menu_radio input:checked ~ .radiocheck {
    background-color: rgb(255, 255, 255);
 }
  
 .radiocheck:after {
    content: "";
    position: absolute;
    display: none;
  } 

  .model_menu_radio input:checked ~ .radiocheck:after {
    display: block;
  }  

  .model_menu_radio .radiocheck:after {
    top: 8px;
   left: 8px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}  

.checkbox_ input[type="checkbox"]{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgb(10, 10, 10);
    border-color: rgb(235, 235, 235);
    outline: 2px solid;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
    font-size: var(--fs-700);
    
  }


.checkbox_ input[type="checkbox"]:checked{
    background-color: rgb(235, 235, 235);
    border-color: rgb(10, 10, 10);
    
    outline: none;

  }

  .checkbox_{
    display: flex;
    align-items: center;
    /* padding-left: 1em; */
    padding-top: 1em;
    width: 210px;
    
}

.checkbox_names{
  padding-left: .5em;
  font-weight: bold;
  
}

.modal_menu_radio{
  font-weight: bold;
}

/* ---------form input----------- */
.clubs_form_textboxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.club_textboxes{
    width:90%;
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
   justify-content: space-between;
   padding-bottom: .5em;
}

.club_textboxes input {
    width: 65%;
    /* flex-grow: 2; */
}

.club_desc {
   height: 68px;
 }


.club_textboxes .title_info{
   font-size: 14pt; 
}

.clubs_form_textboxes .title_card{
    
    margin: .5em;
    margin-left: 30%;
    padding: 0em;
}

.clubs_form_textboxes button{
    padding: 1em 3em 1em 3em;
    margin: .5em  ;
}

@media (max-width: 1050px) {
    .club_textboxes{
    
    flex-direction: column;
    
    }

    .club_textboxes input {
    width: 100%;
    
    }
    .clubs_form_textboxes .title_card{
    flex-direction: row;
    margin-left: 0%;
    
}

  }




/* --------club form_club photo---------- */

.clubs_form_clubphoto{
    margin-top: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
    max-width: 35%;
    background-color:rgb(15, 15, 15) ;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}


.club_icon  img{
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    display: inline;
    object-position: center;
    aspect-ratio: 1 / 1;
}

.clubs_form_clubphoto .title_info h2{
    text-align: center;

}

@media (max-width: 1050px) {
    .clubs_form_clubphoto{
    max-width: 100%;
    margin-top: 1svh;
    margin-right: 0rem;
    padding: 1.5em;
}
}


/* --------delete buttons---------- */




.delete_button{
    width: 90%;
    display: flex;
    /* align-items: end; */
    justify-content:end;
    
    
}
.delete_button button{
    padding: 1em 3em 1em 3em;
    font-weight: 700;
    display: flex;
    align-items: center;
    background-color: rgba(199, 31, 31);
    color: white;
    border: none;
    height: 1em;
    white-space: nowrap;
}

.delete_button button:hover{
    background-color: rgb(234, 35, 35);
}



.reset_button {
  display: none; 
  background-color: rgba(199, 31, 31);
  border: none;
  color: white;
  position: sticky;
  top: 70%;
  left: 150px;
  
  text-align: center;
  
  padding: 1em 3em;
  
  z-index: 999999;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  
  
}

.reset_button:active {
  background-color: rgb(48, 48, 48); 
  color: white;
}






  @media (max-width: 1050px) {
    
    
    

.reset_button {
  padding: 1em 0em;
    width: 50%;
    position: fixed;
   bottom: 10px;
  left: 6%;
  top: inherit;
  right: inherit;
  
  
}

.delete_button{

    justify-content:center;
    
    
}

  }



/* --------clubs_form_filters--------- */

.clubs_form_filters{
    
    margin-right: 1rem;
    width: 100%;
    
    background-color:rgb(15, 15, 15) ;
    padding: 2em;
    display: flex;
    max-width:326px;
    flex-direction: column;
    
    
}

.clubs_form_filters .club_textboxes{
    width: 100%;
    
}

.clubs_form_filters .club_textboxes{
    flex-direction: column;
}

.clubs_form_filters .club_textboxes input{
    width: 100%;
}

.clubs_form_filters {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
}

@media (max-width: 1050px) {
  .clubs_form_filters{
    margin: 1rem 0em 0em 0em;
    width: inherit;
    max-width: 100%;
    
    
}


  }




/* -----------club_form_members---------- */

.club_form_members{
    /* margin-top: 1rem; */
    flex-grow: 3;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.club_form_members_filters{
    display: flex;
    flex-direction: row;
    height: 38px;
    /* padding-bottom: .75em; */
    width: 100%;
    gap: 1em;
    justify-content: end;
}

.club_form_members_filters .checkbox_{
    padding-top: 0em;
    width: 100px ;
}

.club_form_members_list{
   flex: 1 0 30%;
   display: flex;
   flex-direction: row;
   gap: 1em;
   
}

@media (max-width: 1050px) {
  .club_form_members{
    
    max-width: 100%;
    
    
}

.club_member_details .club_member_info{
    font-size: 11px;
}


/* .club_form_members_filters{
    padding-top: 1em;
} */

  }



/* --------club_members----------- */



.club_form_members_list .groups_grid .results{
   background-color: rgb(15, 15, 15);
   flex: 0 0 49;
   height: 140px;
   margin: .5 0em;
   padding: 0em;
 
   display: flex;
   flex-direction: row;
}

/* .club_form_members_list .groups_grid .results_grid{
   gap: 1em;
} */

.club_form_members_list .groups_grid img{

  object-fit:cover;
  
}


.club_form_members_list .post_information{
    display: flex;
    padding: 1em;
    
    justify-content: space-between;
}

.club_form_members_list .club_member_info{
    font-size: 12px;
}


.club_form_members_list .post_information .checkbox_{
position: absolute;
width: 90%;
display: flex;
justify-content: end;
padding-top: 0em;
z-index: 99999;
}

@media (max-width: 1050px) {
  
    .club_form_members_list .groups_grid .results{

   flex: 0 0 100%;
   
}




  }




/* -------club_settings--------- */

.club_settings{
    text-align: left;
    
}
.club_settings .clubs_radiobutton{
    flex-direction: column;
}

.club_settings .clubs_radiobutton .checkbox_{
    justify-content: start;
}


.club_settings .verticle-line{
    height: 160px;
}

.centre_text{
    text-align: center;
}

.club_settings .title_info{
    padding: 0em;
    margin: 1em;
    justify-content: space-between;
    
    max-width: 20%;

}
.club_settings .line{
    display: none;
}

.club_settings .title_card{
    padding: 2.2em ;
}
.club_settings h2{
    font-size: 20px;
}

@media (max-width: 1050px) {
    .club_settings .verticle-line{
    display: none;
}

.club_settings .line{
    display: block;
    width: 100%;
}

.club_settings .title_info{
    max-width: inherit;
}



  }









  /* -----------Edit photo---------- */


 .club_form_photos {
    
    width: 100%;
   
   
}

.club_form_photos .results{
    flex: 0 0 32.5%;
    padding: 0em;
    height: 140px;
    margin: 0em;
    
}

.club_form_photos .results_grid{
    margin: 1em 0em 1em 0em;
    gap: 1em;
}

.club_form_photos .post_information{
    padding: 0em;
    margin:1em;
}

.album_stats{
    font-size: 8px;
    color: rgb(119, 119, 119);
}


.club_form_photos .groups_grid .results a{
   
      -webkit-line-clamp: 1; 
      
}

.album_desc{
    position: relative;
      display: -webkit-box; 
      -webkit-box-orient: vertical; 
      overflow:hidden;
      -webkit-line-clamp: 1; 
      text-overflow: ellipsis;
      overflow-wrap: anywhere;
       word-wrap:normal;

}



.edit_photo{
    display: flex;
    flex-direction: row;
    gap: 1em;

}

 .club_form_photos .post_information a{
    width: inherit;


}

@media (max-width: 700px) {

    .edit_photo{
    display: flex;
    flex-direction: row;
    gap: .5em;
    font-size: 12px;

}

.club_form_photos .post_information{
    /* padding: .5em; */
    margin: .75em;
}
    

  }

  
/* ----------------club_videos------------ */

.club_form_videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 1em 0em ;
}


/* ------------club_events---------- */

.create_new_event {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em 0em 1em 0em;
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50);
    color: white;
    border: none;
    height: 1em;
    white-space: nowrap;
}

.create_new_event:hover{
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}

.club_events .club_textboxes{
    gap: 1em;  
}

.events_list .results{
    flex: 0 0 100%!important;
    padding: 0em;
    height: 140px;
    margin: 0em;

    
}



.events_list .results_grid{
    /* margin: 1em 0em ; */
    gap: 1em;
}


.events_list .post_information{
    padding: 0em;
    margin:1em;
    
}

.groups_grid .results_grid .results:last-child{
   max-width: inherit;
}

.album_name a{
    border-bottom:1px solid rgb(118, 118, 118) ;
}
.events_list .album_desc{
    display: flex;
    flex-direction: row;
    /* padding: 1em 0em .5em 0em; */
    gap: 1em;
    display: -webkit-box; 
      -webkit-box-orient: vertical; 
      overflow:hidden;
      -webkit-line-clamp: 5; 
      text-overflow: ellipsis;
      overflow-wrap: anywhere;
       word-wrap:normal;

    

   
}
.album_desc a{ 
    font-size: 13px;
    font-weight: normal;
    border: none;
}


.event_desc {
    width: 60%;
    position: relative;
   display: -webkit-box; 
   -webkit-box-orient: vertical; 
   -webkit-line-clamp: 3; 
   text-overflow: ellipsis;
   overflow-wrap: break-word;
    word-wrap: break-word;
    overflow:hidden;
}

.event_det{
    width: 40%;
}

@media (max-width: 700px) {
    
.events_list .album_desc{
    font-size: 10px;
    flex-direction: row;
    padding: 0em;
    overflow: hidden;
    
    
}
.events_list .post_information{
    margin: .75em;
}

.events_list .event_det{
    font-size: 10px;
    width: 70%;
}

.album_desc a{ 
    font-size: 10px;
    width: inherit;
}

.events_list .event_desc{
    font-size: 10px;
    width: 40%;
    height: 40px;
}

.create_new_event .title_info{
    padding: 0em;
}
  }





/* ---------club_new_event---------- */

.club_new_event .clubs_form_radiobutton{
    justify-content: space-evenly;

}
.set_event_date{
    display: flex;
    flex-direction: row;
    width: 65%;
}

.se_event_calendar_container1{
    
display: flex;
    flex-direction: row;
}
.set_event_date input{
    height: 34px;
    border-radius: 3px;
    border: none;

}

  @media (max-width: 1050px) {
    .set_event_date{
    width: 100%;
}

  }



/* -------homepage---------- */

.homepage{
    width: 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.homepage .results{
    flex: 1 0 100%;
   padding: 0em;
   margin: 0em;
}

.homepage .post_information{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
     flex: 1 1 100%;
     padding: 1em;
}

.homepage a{
    
    position: relative;
   display: -webkit-box; 
   -webkit-box-orient: vertical; 
   overflow:hidden;
   -webkit-line-clamp: 1; 
   text-overflow: ellipsis;
   overflow-wrap: break-word;
    word-wrap: break-word;
}

.homepage .album_name{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.homepage .album_desc{
    display: flex;
    flex-direction: row;
    gap: 1em;
    /* width: 60%; */
}


@media (max-width: 700px) {
    
.homepage .album_desc{
    font-size: 10px;
    flex-direction: row;
    padding: 0em;
    overflow: hidden;
    
    
}
.homepage.post_information{
    margin: .75em;
}

.homepage .event_det{
    font-size: 10px;
    width: 70%;
}

.homepage .album_name{
    gap: .5em;
}

.homepage .album_desc a{ 
    font-size: 10px;
    width: inherit;
}

.homepage .event_desc{
    font-size: 10px;
    width: 40%;
    height: 40px;
}

.homepage .title_info{
    padding: 0em;
}
  }




/*----------- Pagenation---------- */

.pagenation{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .newbrowsepages{
    width: 100%;
    margin-top: 2em;
    z-index: 1000;
  }
  
  .displayed{
    position: relative;
    display: flex;
    align-items: start;
    
    top: -4.5em;
    width: 8em;
    height: 3em;
  }
  
  .displayed .form-control{
    width: 6em;
    background-color: red;
    color: white;
    border:none;
    
    
  }

  input[type=button],input[type=submit]{
    border: none;
  }
.pagego{
    border: 0;
    border-radius: 5px;
    padding: 10px;
    
}

.pagenation input[type=text] {
    width: 2em;
    
}
.pagenation_numbers{
    display: flex;
    justify-content: center;
    align-items: center;
}

  
  .filter_by .form-control{
    background-color: red;
    color: white;
    border:none;
  }
  


/* ----------calendar---------- */

.calendar{
    max-width: 100%;
  }
  @media (max-width: 750px) {
    .calendar{
    padding: 1em 0em;
  }
  }

div.profile_event_main {
    border-top: 1px solid rgba(49, 49, 49, 0.61);
    padding: 7px 2px 0 2px
}

div.profile_event_date {
    color: #777;
    font-size: 9px
}

div.profile_event_title {
    font-weight: 700
}

div.profile_event_desc {
    margin: 5px 0 10px 5px
}

div.seEvent {
    background: #000;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(49, 49, 49, 0.61)
}

td.seEventLeft {
    vertical-align: top
}

td.seEventRight {
    word-break: break-word;
    vertical-align: top;
    padding-left: 10px
}

div.seEventPhoto {
    background: #000;
    padding: 5px;
    border: 1px solid rgba(49, 49, 49, 0.61);
    vertical-align: middle;
    text-align: center
}

div.seEventTitle {
    font-size: 13px;
    font-weight: 700;
    padding: 0 5px 5px 0;
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    margin-bottom: 5px
}

div.seEventStats {
    font-size: 9px;
    font-weight: 400
}

div.seEventBody {
    font-weight: 400
}

div.seEventCategory {
    padding-bottom: 3px;
    font-weight: 400
}

.event_tab a {
    padding: 7px 10px 7px 10px;
    border: 1px solid #AAA;
    border-left: none;
    font-weight: 700;
    display: block;
    background-color: rgb(15, 15, 15)
}

.event_tab a:hover {
    background-color: rgb(15, 15, 15)
}

.event_tab_active a,.event_tab_active a:hover {
    background-color: rgb(15, 15, 15);
    border-bottom: 1px solid transparent
}

.event_tab_left a {
    border-left: 1px solid #AAA
}

.event_tab_end {
    border-bottom: 1px solid #AAA
}

div.event_members_result {
    padding: 5px;
    border: 1px solid rgba(49, 49, 49, 0.61);
    background: rgb(15, 15, 15);
}

div.event_members_photo {
    float: left
}

div.event_headline,div.event_headline2 {
    font-size: 13px;
    margin-bottom: 7px;
    font-weight: 700
}

div.event_headline2 {
    margin-top: 10px
}

div.seEventOptions {
    margin-top: 7px;
    border-top: 1px solid rgba(49, 49, 49, 0.61);
    padding-top: 7px
}

div.seEventSearch {
    border: 1px solid #AAA;
    background: rgb(15, 15, 15);
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px
}

div.seEventOption1 {
    float: left;
    margin-right: 15px
}

div.seEventOption2 {
    float: left
}

div.event_form_desc {
    padding-top: 2px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    margin-bottom: 10px
}

div.event_pages_top {
    margin-bottom: 10px;
    text-align: center;
    padding: 7px 5px 7px 5px;
    background: rgb(15, 15, 15);
    border-top: 1px solid rgba(49, 49, 49, 0.61)
}

div.event_pages_bottom {
    margin-bottom: 10px;
    text-align: center;
    padding: 7px 5px 7px 5px;
    background: rgb(15, 15, 15);
    border-bottom: 1px solid rgba(49, 49, 49, 0.61)
}

input.event_search {
    border: 1px solid #AAA
}

div.event_member {
    padding: 5px;
    border: 1px solid rgba(49, 49, 49, 0.61);
    margin-top: 10px;
    background: rgb(15, 15, 15);
    margin-bottom: 10px
}

div.event_member_info {
    font-size: 9px;
    color: #666
}

div.event_member_title {
    font-weight: 700;
    padding-top: 5px
}

td.event_left {
    width: 100%;
    text-align: left;
    vertical-align: middle
}

td.event_right {
    width: 0%;
    text-align: right;
    vertical-align: bottom
}

div.event_row {
    background: rgb(15, 15, 15);
    padding: 10px;
    border: 1px solid rgba(49, 49, 49, 0.61);
    margin-top: 10px
}

td.event_row1 {
    padding: 0 10px 10px 10px;
    vertical-align: top
}

td.event_row2 {
    text-align: right;
    vertical-align: top
}

td.event_cat {
    padding: 5px 35px 5px 0
}

td.event_list {
    background: rgb(15, 15, 15);
    border: 1px solid rgba(49, 49, 49, 0.61);
    border-top: 0;
    padding: 5px 7px 5px 7px
}

div.event_bar {
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px
}

td.event_item1 {
    padding: 5px;
    text-align: center;
    vertical-align: top
}

td.event_item2 {
    padding: 5px 5px 5px 5px;
    vertical-align: top
}

div.event_menu {
    background-color: rgb(15, 15, 15);
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    padding: 5px 5px 5px 7px;
    font-size: 11px;
    display: block
}

div.event_rsvps {
    text-align: center;
    font-weight: 700
}

div.event_member {
    padding: 5px;
    border: 1px solid #534741;
    margin-top: 10px;
    background: rgb(15, 15, 15);
}

td.event_member0 {
    padding: 5px
}

td.event_member1 {
    vertical-align: top;
    padding: 5px
}

td.event_member2 {
    padding: 5px;
    vertical-align: top;
    text-align: right
}

div.browse_events_result {
    padding: 5px;
    border: 1px solid rgba(49, 49, 49, 0.61);
    margin-top: 10px;
    background: rgb(15, 15, 15)
}

td.browse_events_result0 {
    padding: 5px
}

td.browse_events_result1 {
    padding: 5px
}

td.browse_events_result2 {
    padding: 5px;
    text-align: right
}

div.event_title {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px
}

table.event_calendar {
    
    border-right: 1px solid rgba(49, 49, 49, 0.61);
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
}

td.event_cellblank {
    background: rgb(15, 15, 15);
    border-left: 1px solid rgba(49, 49, 49, 0.61);
    border-top: 1px solid rgba(49, 49, 49, 0.61);
}

td.event_cell1 {
    background: rgb(15, 15, 15);
    border-left: 1px solid rgba(49, 49, 49, 0.61);
    border-top: 1px solid rgba(49, 49, 49, 0.61);
    vertical-align: top;
    text-align: right;
    max-width: 45px;
}

td.event_cell2 {
    background-color: rgb(45, 45, 45);
    border-left: 1px solid rgba(49, 49, 49, 0.61);
    border-top: 1px solid rgba(49, 49, 49, 0.61);
    vertical-align: top;
    text-align: right;
    max-width: 45px;
}

td.event_cell3 {
    border-left: 1px solid rgba(49, 49, 49, 0.61);
    border-top: 1px solid rgba(49, 49, 49, 0.61);
    background-color: rgb(45, 45, 45);
    vertical-align: top;
    text-align: right;
    max-width: 45px;
}

td.event_cellheader {
    padding: 5px 5px 5px 7px;
    background: rgb(15, 15, 15);
    text-align: center;
    font-weight: 700;
    width: 150px;
    border-left: 1px solid rgba(49, 49, 49, 0.61);
    border-top: 1px solid rgba(49, 49, 49, 0.61);
}

td.event_celldesc {
    text-align: left;
    padding: 3px 5px 3px 5px;
    vertical-align: top;
                display: -webkit-box; 
                -webkit-box-orient: vertical; 
                overflow:hidden;
                -webkit-line-clamp: 2; 
                text-overflow: ellipsis;
                overflow-wrap: break-word;
                word-wrap: break-word;
                
                max-width: inherit;
}

td.event_cellnum1,td.event_cellnum2 {
    padding: 0 4px 4px 0;
    font-size: 22px;
    line-height: 22px;
    color: rgb(95, 95, 95);
    vertical-align: bottom;
    text-align: right
}



td.event_cellnum2 {
    color: #a8a8a8
}



div.event_popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -280px;
    width: 560px;
    z-index: 50001;
    background: #000;
    border: 1px solid rgba(49, 49, 49, 0.61);
    padding: 10px
}

td.event_header {
    padding: 4px 5px 5px 6px;
    border: 1px solid rgba(49, 49, 49, 0.61);
    border-bottom: none;
    font-weight: 700
}

td.event_box {
    background: #000;
    border: 1px solid rgba(49, 49, 49, 0.61);
    border-top: none;
    padding: 10px
}

select.event_small {
    font-size: 11px;
    border: 1px solid rgba(49, 49, 49, 0.61)
}

select.event_select {
    border: 1px solid rgba(49, 49, 49, 0.61)
}

div.event_browse_title {
    font-size: 15px;
    font-weight: 700
}

td.event_browse_cat1 {
    background: #000;
    padding: 3px
}

td.event_browse_cat2 {
    background: #000;
    padding: 3px 3px 3px 0
}

td.profile_events_cellheader {
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    border-right: 1px solid rgba(49, 49, 49, 0.61);
    background: #000;
    font-size: 9px;
    font-weight: 700;
    color: #AAA;
    text-align: center;
    padding: 3px;
    width: 20px
}

td.profile_events_cell1 {
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    border-right: 1px solid rgba(49, 49, 49, 0.61);
    background: #000;
    font-size: 9px;
    color: #AAA;
    text-align: center;
    padding: 3px;
    width: 20px
}


td.profile_events_cell2 {
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    border-right: 1px solid rgba(49, 49, 49, 0.61);
    background: #000;
    font-size: 9px;
    color: #AAA;
    text-align: center;
    padding: 3px;
    width: 20px;
    font-weight: 700
}

td.profile_events_cell3 {
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    border-right: 1px solid rgba(49, 49, 49, 0.61);
    background: #000;
    font-size: 9px;
    color: #AAA;
    text-align: center;
    padding: 3px;
    width: 20px;
    font-weight: 700
}

td.profile_events_cell4 {
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    border-right: 1px solid rgba(49, 49, 49, 0.61);
    background: #000;
    font-size: 9px;
    color: #AAA;
    text-align: center;
    padding: 3px;
    width: 20px;
    font-weight: 700
}

td.profile_events_cellblank {
    border-bottom: 1px solid rgba(49, 49, 49, 0.61);
    border-right: 1px solid rgba(49, 49, 49, 0.61);
    background: #000;
    font-size: 9px;
    color: #AAA;
    text-align: center;
    padding: 3px;
    width: 20px
}

table.profile_events {
    border-top: 1px solid rgba(49, 49, 49, 0.61);
    border-left: 1px solid rgba(49, 49, 49, 0.61)
}

div.profile_event_spacer {
    border-top: 1px solid rgba(49, 49, 49, 0.61);
    margin: 10px 0 10px 0
}

td.profile_event_popup_title {
    font-size: 15px;
    vertical-align: bottom;
    font-weight: 700
}

table.profile_event_popup {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -280px;
    z-index: 50000
}

table.profile_event_popup2 {
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -320px;
    z-index: 50000
}


td.profile_event_popup2 {
    background: #000;
    width: 560px;
    padding: 10px
}

td.profile_event_transparent {
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    -moz-opacity: .5
}


@media (max-width: 750px) {
    .event_cellheader{
        

    }

    td.event_celldesc {
   font-size:9px;             
    -webkit-line-clamp: 4;     
    max-width: 30px;             
    
}

td.event_cell3,.event_cell2,.event_cell1{
   width: 30px;
}

  }

  .date{
    display: flex;
    flex-direction: row;
    width: inherit;
  }

  .date a{
    border-bottom:0px solid rgb(118, 118, 118) 
  }